section{
    background: #245852;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:217px 360px 218px 360px ;
} 
 h2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 50px;
font-weight: 700;
line-height: 157%; 
margin: 0;
}
 p{
    color: #FFF;
font-size: 25px;
font-weight: 600;
line-height: 157%;
padding-top: 32px;
font-family: 'Lato', sans-serif;
margin: 0;
}

button{
    color: #FFF;
font-size: 20px;
font-weight: 400;
line-height: 25px; 
border-radius: 4px;
border: 1px solid #01996D;
background: #01996D;
padding: 20px 50px;
font-family: 'Lato', sans-serif;
margin-top: 58px;
}

iframe{
    border-radius: 16.333px;
background: rgba(0, 0, 0, 0.20);
}

